
$primary: #5265E1;
$secondary: #FA5959; 

.figure {
  height: 300px;
  width: 450px;
  background-color: $primary;
  border-bottom-left-radius: 100%400px;
  border-top-left-radius: 100%400px;
  position: absolute; 
  z-index: -1;     
}

.figure2 {
  height: 250px;
  width: 600px;
  background-color: $primary;
  border-bottom-right-radius: 100%400px;
  border-top-right-radius: 100%400px;
  position: absolute; 
  z-index: -1;     
}

.navbar {
  background-color: white;
}




@for $hijo from 1 through 3 {
  .card-item:nth-child(#{$hijo}) {
    margin-top: ($hijo * 50px);
  }
}

  
@import "../node_modules/bootstrap/scss/bootstrap";

